
        *{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        #links{
            color: aliceblue;
        }

        .about{
            background-color: lightcyan;
        }

        .project{
            border-radius: 20px;
           
            background-color:powderblue;
        }

        .portfolio{

            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            background-color:darkblue;
        }
        .portfolio label{
            color: aliceblue;
        }

        .stack{
            font-family: 'Times New Roman', Times, serif;
            background-color: lavender;
        }
    